# Dependencies
/node_modules

# Build artifacts
/dist
/build
/coverage

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE files
.DS_Store           # macOS
.vscode             # VS Code directory (optional, depending on team preference)
.wrangler
.dev.vars
